.home-overview {
    padding: 4rem 0;
    background-image: url("/static/images/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.circle-overview {
    border-radius: 50%;
    padding: 2rem;
    min-width: 10rem;
    min-height: 10rem;
    aspect-ratio: 1 / 1;
}

.column-item {
    min-width: fit-content !important;
}

.notification-container {
    position: fixed;
    top: 5rem;
    right: 1rem;
    z-index: 1000;
    width: 300px;
}

.button-container {
    margin-top: 2rem;
    display: block;
    width: 100%;
}

.user-card {
    width: 128px;
    margin: 0 auto;
}

.movie-card {
    width: 256px;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    transition: bottom 0.5s;
}

.movie-card:hover {
    bottom: 1rem;
}

.movie-detail {
    padding: 0 !important;
}

.modal-movie-poster {
    border-top-left-radius: var(--bulma-box-radius) !important;
    border-bottom-left-radius: var(--bulma-box-radius) !important;
}

.modal-movie-card {
    height: 100%;
}

.movie-content {
    padding: 1.5rem 0.75rem 1.5rem 0 !important;
}

#note-textarea {
    resize: none;
}

.avatar {
    width: 99%;
    transition: width 0.7s;
    filter: brightness(1)
}

.avatar:hover {
    transform: scale(1.025, 1.025);
    filter: brightness(1.1)
}

.fixed-image {
    width: 100%;
    height: 384px;
    object-fit: cover;
}

/* High-resolution Retina (2x scaling) */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .home-overview {
        background-image: url("/static/images/background@2x.webp");
    }
}

/* Tablets */
@media (max-width: 1024px) {
    .home-overview {
        background-image: url("/static/images/background-tablet.webp");
    }
}

/* High-resolution tablets (2x scaling) */
@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 768px) and (min-resolution: 192dpi) {
    .home-overview {
        background-image: url("/static/images/background-tablet@2x.webp");
    }
}

/* Mobile devices */
@media (max-width: 768px) {
    .home-overview {
        background-image: url("/static/images/background-mobile.webp");
    }

    .button.is-fullwidth-mobile {
        display: flex;
        width: 100%;
    }

    div.movie-content {
        padding: 1.5rem 0.75rem !important;
    }
}

/* High-resolution mobile devices (2x scaling) */
@media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 768px) and (min-resolution: 192dpi) {
    .home-overview {
        background-image: url("/static/images/background-mobile@2x.webp");
    }
}