@media screen and (max-width: 768px) {
    .button.is-fullwidth-mobile {
        display: flex;
        width: 100%;
    }
}

.cell {
    width: 128px;
    margin: 0 auto;
}

.avatar {
    width: 99%;
    transition: width 0.7s;
    filter: brightness(1)
}

.avatar:hover {
    transform: scale(1.025, 1.025);
    filter: brightness(1.1)
}