{% extends "base.html" %}

{% block title %}Add Movie - Moviweb{% endblock %}
{% block header %}Add Movie for {{ user.name }}{% endblock %}

{% block content %}
{% if not movie %}
{% set action_url = url_for("add_movie", user_id=user.id) %}
{% set form_method = "get" %}
{% set input_identifier = "title" %}
{% set input_placeholder = "Find a movie" %}
{% set submit_button_value = "Search" %}
{% set submit_button_icon = "bx bx-search" %}

{% include "forms/add_form.html" %}
<div class="container has-text-centered">
    <p class="has-text-danger mt-3">
        {% include "forms/_flash_messages.html" %}
    </p>
</div>
{% else %}
{% set action_url = url_for("add_movie", user_id=user.id) %}
{% set submit_button_value = "Add" %}

{% include "forms/movie_form.html" %}
{% endif %}

{% endblock %}