<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.3/css/bulma.min.css"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <main class="hero is-fullheight">
        <div class="hero-body">
            <div class="container content has-text-centered">
                <p class="title mb-6">{{ title }}</p>
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</body>
</html>