{% extends "base.html" %}

{% block title %}Add Movie - Moviweb{% endblock %}
{% block header %}Add Movie for {{ user.name }}{% endblock %}

{% block content %}
    {% include "_flash_messages.html" %}
    {% if not movie %}
        {% set action_url = url_for('add_movie', user_id=user.id) %}
        {% set form_method = 'get' %}
        {% set input_identifier = 'title' %}
        {% set input_placeholder = 'Find a movie' %}
        {% set submit_button_value = 'Search' %}

        {% include 'add_form.html' %}
    {% else %}
        {% set action_url = url_for('add_movie', user_id=user.id) %}
        {% set submit_button_value = 'Add' %}

        {% include 'movie_form.html' %}
    {% endif %}
{% endblock %}