<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body class="has-navbar-fixed-top">
    <header>
        <nav class="navbar is-fixed-top has-shadow"
             role="navigation"
             aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id=main-menu class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{{ url_for('home') }}">Home</a>
                        <a class="navbar-item" href="{{ url_for('list_users') }}">Users</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="hero is-fullheight-with-navbar">
        <div class="has-text-centered mt-5">
            <p class="title">{% block header %}{% endblock %}</p>
        </div>
        <div class="hero-body">
            <div class="container content is-max-desktop">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    <footer class="footer hero-foot">
        <div class="content has-text-centered">
            <p>Martin Schneider &copy; 2025</p>
        </div>
    </footer>
</body>
</html>