{% extends "base.html" %}

{% block title %}Movies - Moviweb{% endblock %}
{% block header %}{{ user.name }}'s Movies{% endblock %}

{% block content %}
    {% if not movies %}
    <div class="container has-text-centered">
        <p>This user has no movies assigned.</p>
    </div>
    {% else %}
    <div class="is-flex is-justify-content-center">
        <div class="columns is-multiline">
            {% for movie in movies %}
            <div class="column is-2-desktop is-2-tablet column-item">
                <div class="card movie-card">
                    <div class="is-clickable">
                        <div class="card-image">
                                <img src="{{ movie.poster_url or 'https://placehold.co/300x444?text=No%0APoster' }}"
                                     alt="{{ movie.name }} - movie poster"
                                     class="fixed-image"
                                />
                        </div>
                    </div>
                    <header class="card-header">
                        <p class="card-header-title is-centered">{{ movie.name }}</p>
                    </header>
                    <footer class="card-footer">
                        <a href="{{ url_for('update_movie', user_id=user.id, movie_id=movie.id) }}"
                           class="card-footer-item has-text-success">
                            Update
                        </a>
                        <a href="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}"
                           class="card-footer-item has-text-danger"
                           onclick="return confirm('Are you sure?');">
                            Delete
                        </a>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="container button-container p-5 has-text-centered">
        <a href="{{ url_for('add_movie', user_id=user.id) }}" class="button is-primary is-full-width-mobile">
            Add movie
        </a>
    </div>
{% endblock %}