{% extends "base.html" %}

{% block title %}Movies - Moviweb{% endblock %}
{% block header %}{{ user.name }}'s Movies{% endblock %}

{% block content %}
    {% if not movies %}
        <div class="container has-text-centered">
            <p class="missing-data-warning">This user has no movies assigned.</p>
        </div>
    {% else %}
        <table class="table is-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Director</th>
                    <th>Year</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.name }}</td>
                        <td>{{ movie.director or "-" }}</td>
                        <td>{{ movie.year or "-" }}</td>
                        <td>{{ movie.rating or "-" }}</td>
                        <td>
                            <a href="{{ url_for('update_movie', user_id=user.id, movie_id=movie.id) }}"
                               class="has-text-success">
                                Update
                            </a>
                            <a href="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}"
                               class="has-text-danger"
                               onclick="return confirm('Are you sure?');">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="container p-5 has-text-centered">
        <a href="{{ url_for('add_movie', user_id=user.id) }}" class="button is-primary is-full-width-mobile">
            Add movie
        </a>
    </div>
{% endblock %}