<form class="box" action="{{ action_url }}" method="post">
    <div class="field">
        <label for="name" class="label">Name:</label>
        <div class="control">
            <input class="input" id="name" name="name" type="text" value="{{ movie.name }}" required>
        </div>
    </div>

    <div class="field">
        <label for="director" class="label">Director:</label>
        <div class="control">
            <input class="input" id="director" name="director" type="text" value="{{ movie.director or '' }}">
        </div>
    </div>

    <div class="field">
        <div class="field-body">
            <div class="field">
                <label for="year" class="label">Year:</label>
                <div class="control">
                    <input class="input" id="year" name="year" type="number" min="1888" value="{{ movie.year or '' }}">
                </div>
            </div>
            <div class="field">
                <label for="rating" class="label">Rating:</label>
                <div class="control">
                    <input class="input" id="rating" name="rating" type="number" min="0" max="10" step="0.1" value="{{ movie.rating or '' }}">
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <label for="poster_url" class="label">URL:</label>
        <div class="control">
            <input class="input" id="poster_url" name="poster_url" type="text" value="{{ movie.poster_url or '' }}">
        </div>
    </div>

    <div class="field">
        <div class="control is-expanded">
            <input type="submit" class="button is-primary is-fullwidth" value="{{ submit_button_value }}">
        </div>
    </div>
</form>
