{% extends "base.html" %}

{% block title %}Update Movie - Moviweb{% endblock %}
{% block header %}Update Movie{% endblock %}

{% block content %}
    <form action="{{ url_for('update_movie', user_id=movie.user.id, movie_id=movie.id) }}" method="post">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" value="{{ movie['name'] }}" required>
        <label for="director">Director:</label>
        <input id="director" name="director" type="text" value="{{ movie['director'] }}">
        <div class="year-container">
            <label for="year" id="year-label">Year:</label>
            <input id="year" name="year" type="number" min="1888" value="{{ movie['year'] }}">
        </div>
        <div class="rating-container">
            <label for="rating" id="rating-label">Rating:</label>
            <input id="rating" name="rating" type="text" value="{{ movie['rating'] }}">
        </div>
        <label for="user">User:</label>
        <select id="user" name="user" required>
            {% for user in users %}
                <option value="{{ user.id }}" {% if movie.user_id == user.id %} selected {% endif %}>{{ user.name }}</option>
            {% endfor %}
        </select>
        <br />
        <br />
        <input type="submit" value="Update">
    </form>
{% endblock %}