{% extends "base.html" %}

{% block title %}Users - Moviweb{% endblock %}
{% block header %}Users{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column">
            {% if not users %}
            <p>No users were found, please add one first.</p>
            {% else %}
                <div class="grid is-col-min-8">
                    {% for user in users %}
                        <div class="cell">
                            <a href="{{ url_for('user_movies', user_id=user['id']) }}">
                                <div class="content">
                                    <div class="card-image is-full-width py-4 avatar">
                                        <figure class="image is-1by1">
                                            <img class="is-rounded" src="https://ui-avatars.com/api/?background=random&size=256&
                                      rounded=true&format=svg&name={{ user.name }}"
                                                 alt="{{ user.name }}' user avatar"
                                            />
                                        </figure>
                                    </div>
                                    <header class="card-header">
                                        <p class="card-header-title is-centered">{{ user.name }}</p>
                                    </header>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container p-5 has-text-centered">
                <a class="button is-primary is-fullwidth-mobile"
                   href="{{ url_for('add_user') }}">Add new user</a>
            </div>
        </div>
    </div>
{% endblock %}